<div class="create-status">
  <form class="clearfix" *ngIf="userName != ''">
    <div class="form-group">
      <textarea class="form-control" rows="3" placeholder="Whats happening?" [(ngModel)]="statusText" (ngModelChange)="typingStatus()" name="statusText"></textarea>
    </div>
    <div class="pull-right">
      <span class="countdown">
        <!-- Show the characters remaining for the status to remain valid -->
        <!-- <span *ngIf="statusText">{{this.status.maxLength - statusText.length}}</span>
        <span *ngIf="!statusText">{{this.status.maxLength}}</span> -->
      </span>
      <!-- On click of this button, post status -->
      <input type="file" type="file" accept="image/*" (change)="onFileChange($event)" #file style="display: none;">
      <button class="btn btn-primary btn-sm" style="min-width: 0px;" (click)="file.click()"><em class="fa fa-image"></em></button>
      <button class="btn btn-primary btn-md" [disabled]="canPostStatus != true" (click)="postStatus()">Post</button>
    </div>
  </form>
  <form class="clearfix" *ngIf="userName == ''">
    <div class="form-group rows">
      <div class="col-md-10">
        <input type="text" class="form-control" placeholder="Your Name" [(ngModel)]="userNameText" name="userNameText" maxlength="10"/>
      </div>
      <div class="col-md-2">
        <button class="btn btn-primary btn-md pull-right form-control" (click)="updateUser()">Login</button>
      </div>
    </div>
    <div class="">
      <span class="countdown">
        <!-- Show the characters remaining for the status to remain valid -->
        <!-- <span *ngIf="statusText">{{this.status.maxLength - statusText.length}}</span>
        <span *ngIf="!statusText">{{this.status.maxLength}}</span> -->
      </span>
      <!-- On click of this button, post status -->
      
    </div>
  </form>
</div>
<div class="list-statuses clearfix">
  <ul>
    <!-- Loop through the statuses and display them -->
    <li *ngFor="let status of statuses">
      <div class="photo">
        <img src="https://randomuser.me/api/portraits/men/84.jpg" alt="">
      </div>
      <div class="status">
        <p style="text-transform: capitalize"><strong>{{status.user_id}}</strong></p>
        <p>{{status.feedPost}}</p>
        <img *ngIf="status.imgUrl != undefined && status.imgUrl != ''" style="max-width: 80%; border: 2px solid #00baba" src="{{serverUrl + status.imgUrl}}" alt="image post" >
        <!-- <div class="reaction">
          <ul class="list-inline pull-left"> -->
            <!-- On click of any of the reactions, call the react method -->
            <!-- <li><a href="#" class="btn btn-sm btn-default" (click)="react('like', status)">Like</a></li>
            <li><a href="#" class="btn btn-sm btn-default" (click)="react('love', status)">Love</a></li>
          </ul>
          <div class="counts pull-right"> -->
            <!-- Show the reaction counts -->
            <!-- <span class="thumbs reaction" [hidden]="!status.like || status.like <= 0"><span class="count">{{status.like}}</span> Like</span>
            <span class="thumbs reaction" [hidden]="!status.dislike || status.dislike <= 0"><span class="count">{{status.dislike}}</span> Dislike</span>
            <span class="heart reaction" [hidden]="!status.love || status.love <= 0"><span class="count">{{status.love}}</span> Love</span>
          </div>
        </div> -->
      </div>
    </li>
  </ul>
</div>
